<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    {{ hello }}
    <h2>global var 'site_name' = {{ globalPh('site_name') }}</h2>
</body>
</html>